<footer class="bg-neutral-100 py-64 py-sm-32">
  <nav class="container_story">
    <ul class="d-flex d-sm-block justify-between align-center mb-24">
      <li class="mb-sm-8">
        <a href="index.html">
          <img src="/assets/images/logo.svg" alt="logo" />
        </a>
      </li>
      <li class="pl-sm-12">
        <ul class="d-flex d-sm-block">
          <li class="me-40 me-sm-0 py-12 mb-sm-4">
            <a href="products.html">商品列表</a>
          </li>
          <li class="py-12"><a href="story.html">品牌故事</a></li>
        </ul>
      </li>
    </ul>
  </nav>

  <div class="copyright text-sm text-neutral-600 pt-32">
    <p class="mb-4">Copyright ©2025 URBNSTYLE</p>
    <p>All Rights Reserved.</p>
  </div>
</footer>
